.App {
  display: grid;
  grid-template-rows: auto auto;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

body {
  background-image: url(https://i.pinimg.com/736x/27/aa/8d/27aa8d94bacf1699adbab54e167709b8.jpg);
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}